* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #222;
}

header {
    background: #002b5b;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#home {
    background: #00A8E8;
     color: white;
}

#about {
    padding: 60px 20px;
    text-align: center;
}

#episodes {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 4oopx;
    margin: auto;
}

form input, textarea {
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}



